<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ data.page.base_title }} | {% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!--  Extera head  -->
    {% block extra_head %}{% endblock %}
</head>
<body>
    <section>
        <div class="w-full grid grid-cols-{{ data.links | length }} gap-8 text-center bg-indigo-400 text-white">
            {% for link in data.links %}
                <div class="text-center py-6 hover:bg-black bg-opacity-10"><a target="_blank" href="{{ url_for(link) }}">{{ link }}</a></div>
            {% endfor %}
        </div>
    </section>
    <!--  Body  -->
    {% block body %}
    <h1> Salam from base !</h1>
    {% endblock %}
    {% block extra_footer %}<!--  Extra footer  -->{% endblock %}
    <section>
        <div class="w-full text-white bg-purple-400 grid grid-cols-3 gap-8">
            <div class="py-10 text-center">footer title</div>
            <div class="py-10 text-center">footer title</div>
            <div class="py-10 text-center">footer title</div>
        </div>
    </section>
</body>
</html>