{% extends "layout/_base.html" %}
{% block title %}{{ data.page.title }}{% endblock %}
{% block body %}
    <section>
        <div class="mx-auto w-11/12 min-h-screen gap-6 py-6 sm:gap-8 sm:py-8 lg:gap-12 lg:py-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
            {% for post in posts %}
                <div class="rounded-lg border-b-4 h-56 sm:h-auto col-span-1 border-gray-400 shadow-lg px-3 bg-gray-200 relative">
                    <h3 class="text-black py-4 font-bold text-center text-2xl ">{{ post.title }}</h3>
                    <hr>
                    <p class="text-gray-600 w-full text-justify py-6 text-lg">{{ post.content[0:26] }} ...</p>
                    <a href="{{ url_for("post_detail_view", post_id=post.id) }}" class="py-3 absolute left-0 bottom-0 block rounded-b-lg text-white bg-green-500 block w-full font-bold hover:bg-green-600 text-center">Read more ...</a>
                </div>
            {% endfor %}

        </div>
    </section>
{% endblock %}